$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$brand-primary: #660678;
$brand-calm: #f2f2f2;

//Bootstrap variables overrides

$theme-colors: (
  primary: $brand-primary,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

$border-radius: 0;
$card-border-width: 0;
$input-btn-border-width: 2px;

//Custom variables
$brand-secondary: #ff7419;
$brand-tertiary: #e91b2e;
$brand-quaternary: #fcd033;
$brand-facebook: #3b5998;
$brand-twitter: #1da1f2;
$brand-google: #e62117;
$font-secondary: "Fjalla One", sans-serif;

// The path for our ionicons font files, relative to the built CSS in www/css
$fa-font-path: "../lib/components-font-awesome/fonts" !default;

@import "app/lib/components-font-awesome/scss/font-awesome";
@import "node_modules/bootstrap/scss/bootstrap";
@import "fonts";

body {
  font-family: "aaux_next_regularregular";

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: "aaux_next_regularregular";
  }

  > header {
    .top-colors {
      height: 5px;
      background-image: url(../img/header-line.png);
      background-image: url(../img/header-line.png),
        linear-gradient(
          to right,
          $brand-primary 0%,
          $brand-primary 50%,
          $brand-secondary 50%,
          $brand-secondary 75%,
          $brand-tertiary 75%,
          $brand-tertiary 100%
        );
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  > footer {
    clear: both;
    a {
      color: white;
    }
  }
}

.font-secondary {
  font-family: $font-secondary;
}

.bg-secondary {
  background-color: $brand-secondary !important;
}
.bg-tertiary {
  background-color: $brand-tertiary !important;
}
.text-secondary {
  color: $brand-secondary !important;
}
.text-tertiary {
  color: $brand-tertiary !important;
}

.bg-dark {
  * {
    color: white;
  }
}

.btn {
  cursor: pointer;
  font-family: "aaux_nextsemibold";
  font-size: 18px;
  margin-right: 0.5rem;
  border: none;
  text-transform: capitalize;

  &.btn-primary {
    background-color: $brand-primary;
    color: white;

    &:hover {
      background-color: #d5bb00;
    }
  }

  &.btn-secondary {
    background-color: $brand-secondary;
    color: white;

    &:hover {
      color: white;
      background-color: #003bae;
    }
  }

  &.btn-tertiary {
    background-color: $brand-tertiary;
    color: white !important;

    &:hover {
      background-color: #a80900;
    }
  }

  &.btn-white-border {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    background: rgba(0, 0, 0, 0.3);

    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }

  &.btn-small {
    padding: 0.25rem 0.5rem;
    font-size: 16px;
  }
}

.list-group-item {
  padding: 0.2rem 1.25rem;

  .list-group-item-action.bg-dark {
    color: $brand-calm;
  }
}

.share {
  border-top: 1px solid $brand-calm;
  display: inline-block;

  ul {
    padding: 0;
    margin: 0;
    display: table;

    li {
      display: table-cell;
      padding: 0.8rem 1rem;
      cursor: pointer;
      color: #333;

      &.share-facebook {
        color: #3b5998;
      }

      &.share-twitter {
        color: $brand-twitter;
      }

      &.share-google {
        color: $brand-google;
      }

      &.share-whatsapp {
        color: #09d261;

        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      &.share-download {
        a {
          color: $brand-quaternary;
        }
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
