//Bootstrap variables overrides

$brand-primary: #FFD600;
$brand-calm: #F2F2F2;

$border-radius: 0;
$card-border-width: 0;
$input-btn-border-width: 2px;

//Custom variables
$brand-secondary: #3FA9F5;
$brand-secondary: #3f6df5;
$brand-tertiary: #FF1D25;
$brand-quaternary: #f45d22;
$brand-twitter: #1da1f2;
$brand-google: #e62117;
$font-secondary: 'Fjalla One', sans-serif;

// The path for our ionicons font files, relative to the built CSS in www/css
$fa-font-path: "../lib/components-font-awesome/fonts" !default;

@import "app/lib/components-font-awesome/scss/font-awesome";
@import "app/lib/bootstrap/scss/bootstrap";
@import "fonts";

body {
    font-family: 'aaux_next_regularregular';

    button,input,optgroup,select,textarea {
        font-family: 'aaux_next_regularregular';
    }
}

.font-secondary {
    font-family: $font-secondary;
}

.btn {
    cursor: pointer;
    font-family: 'aaux_nextsemibold';
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;

    &.btn-primary {
        color: $gray;
        border-color: $brand-primary;
        box-shadow: 3px 3px 0 #d5bb00;

        &:hover {
            background-color: #d5bb00;
            border-color: #d5bb00;
        }
    }

    &.btn-secondary {
        background-color: $brand-secondary;
        color: white;
        border-color: $brand-secondary;
        box-shadow: 3px 3px 0 #003bae;

        &:hover {
            color: white;
            background-color: #003bae;
            border-color: #003bae;
        }
    }

    &.btn-tertiary {
        background-color: $brand-tertiary;
        color: white !important;
        box-shadow: 3px 3px 0 #a80900;

        &:hover {
            background-color: #a80900;
        }
    }

    &.btn-white-border {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        background: rgba(0, 0, 0,.3);
    }
}