//Bootstrap variables overrides

$brand-primary: #FFD600;
$brand-calm: #F2F2F2;

$border-radius: 0;
$card-border-width: 0;
$input-btn-border-width: 2px;

//Custom variables
$brand-secondary: #3FA9F5;
$brand-secondary: #3f6df5;
$brand-tertiary: #FF1D25;
$brand-quaternary: #f45d22;
$brand-facebook: #3b5998;
$brand-twitter: #1da1f2;
$brand-google: #e62117;
$font-secondary: 'Fjalla One', sans-serif;

// The path for our ionicons font files, relative to the built CSS in www/css
$fa-font-path: "../lib/components-font-awesome/fonts" !default;

@import "app/lib/components-font-awesome/scss/font-awesome";
@import "app/lib/bootstrap/scss/bootstrap";
@import "fonts";

body {
    font-family: 'aaux_next_regularregular';

    button,input,optgroup,select,textarea {
        font-family: 'aaux_next_regularregular';
    }

    > header {        

        .top-colors {
            height: 5px;          
            background-image: url(../img/header-line.png);
            background-image: url(../img/header-line.png), linear-gradient(to right, $brand-primary 0%,$brand-primary 50%, $brand-secondary 50%,$brand-secondary 75%, $brand-tertiary 75%,$brand-tertiary 100%);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }

    > footer { 
        clear: both;
        a {
            color: white;
        }
    }
}

.font-secondary {
    font-family: $font-secondary;
}

.bg-secondary {
    background-color: $brand-secondary !important;
}
.bg-tertiary {
    background-color: $brand-tertiary !important;
}
.text-secondary {
    color: $brand-secondary !important;
}
.text-tertiary {
    color: $brand-tertiary !important;
}

.bg-inverse {
    
    * {
        color: white;
    }
}

.btn {
    cursor: pointer;
    font-family: 'aaux_nextsemibold';
    font-size: 18px;
    margin-right: .5rem;
    border: none;

    &.btn-primary {
        background-color: $brand-primary;
        color: $gray;

        &:hover {
            background-color: #d5bb00;
        }
    }

    &.btn-secondary {
        background-color: $brand-secondary;
        color: white;

        &:hover {
            color: white;
            background-color: #003bae;
        }
    }

    &.btn-tertiary {
        background-color: $brand-tertiary;
        color: white !important;

        &:hover {
            background-color: #a80900;
        }
    }

    &.btn-white-border {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        background: rgba(0, 0, 0,.3);

        &:hover {
            background: rgba(0, 0, 0,.8);
        }
    }
}

.list-group-item {
    padding: .2rem 1.25rem;

    .list-group-item-action.bg-inverse {
        color: $brand-calm;
    }
}

.share {
    border-top: 1px solid $brand-calm;
    display: inline-block;

    ul {
        padding: 0;
        margin: 0;
        display: table;

        li {
            display: table-cell;
            padding: .8rem 1rem;
            cursor: pointer;
            color: #333;

            &.share-facebook {
                color: #3b5998;
            }

            &.share-twitter {
                color: $brand-twitter;
            }

            &.share-google {
                color: $brand-google;
            }

            &.share-whatsapp {
                color: #09d261;

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }

            &.share-download {

                a {
                    color: $brand-quaternary;
                }
            }

            &:hover {
                opacity: .7;
            }
        }
    }
}