@import "common";

p {    
    font-size: 1.3rem;

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

header {
    background-image: url(../img/biografia/header-bio2.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    width: 100%;

    .content {
        padding: 1rem;
        padding-top: 14vw;

        h1 {
            color: white;
            font-family: 'butlermedium';
            font-size: 5rem;
            text-shadow: 2px 2px 10px black;
            margin: 1rem 0;
        }

        p {
            color: white;
            margin: 0;
            text-shadow: 2px 2px 10px black;

            &.highlighted {
                font-family: 'aaux_nextbold';
            }
        }
    }

    @include media-breakpoint-down(sm) {
        background-image: url(../img/biografia/header-bio2-m.jpg);

        .content {
            padding-top: 7rem;

            h1 {      
                font-size: 15vw;
            }
        }
    }
}

#back  {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

h2 {
    font-family: 'butlermedium';
    font-size: 3rem;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

    @include media-breakpoint-down(sm) {   
        font-size: 2rem;
    }
}

.img-white-boder {
    border: 10px solid white;
}

.bg-dark {

    h2 {        
        border-bottom: 1px solid white;
    }
}

.content-block {

    h2, p {
        padding-left: 3rem;
    }

    h2 {
        margin-top: 4rem;
    }

    p {
        font-family: aaux_nextlight;
        padding-top: 2rem;
    }

    @include media-breakpoint-down(sm) {   
        padding: 2rem !important;

        h2, p {
            padding-left: 0;
        }

        h2 {
            margin-top: 0;
        }

        p {
            padding-top: 1rem;
        }
    }
}

#infografia-button {

    .fa-chevron-up {
        display: none;
    }

    &.shown {

        .fa-chevron-down {
            display: none;
        }

        .fa-chevron-up {
            display: initial;
        }
    }
}

#infografia {
    text-align: center;
    display: none;
}

#family {
    background: transparent !important;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        filter: blur(8px);
        height: 100vh;
        width: 100%;
        
        background-image: url(../img/biografia/foto-biografia1.jpg);
        background-size: cover;
        background-position: center center;
        filter: blur(8px) brightness(.5);

        @include media-breakpoint-down(sm) { 
            height: 150vh; 
            background-image: url(../img/biografia/foto-biografia2.jpg);
        }
    }
}

#his-youth {

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        filter: blur(8px);
        height: 31rem;
        width: 100%;
        
        background-image: url(../img/biografia/foto-biografia3.jpg);
        background-size: cover;
        background-position: center center;
        filter: blur(8px) brightness(.5);
    }

    .container {
        background-image: url(../img/biografia/foto-biografia3.jpg);
        background-size: cover;
        background-position: center center;
        background-position-y: 3rem;
        background-repeat: no-repeat;
        height: 30rem;
    }

    .content {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        background: white;
        margin-top: -10rem;
        padding-top: 5rem;
        padding-bottom: 1rem;
        text-align: center;

        h2 {        
            padding: 10px 3rem;
            display: inline-block;
            margin-bottom: 2rem;
        }

        p {
            font-family: aaux_nextlight;
        }
    }
    
    @include media-breakpoint-down(sm) {   

        &:before {
            height: 16rem;
        }

        .container {
            margin: 0 1rem;
            height: 15rem;
        }

        .content {
            margin-top: -1rem;
            text-align: left;
            border-radius: 0;
            border-top-right-radius: 25%;
            padding: 0;
            padding-top: 1rem;

            h2 {        
                padding: 10px 1rem;
                display: block;
                margin-bottom: 2rem;
            }
        }
    }
    
    @include media-breakpoint-up(xl) {   

        &:before {
            height: 36rem;
        }

        .container {
            height: 35rem;
        }
    }
}

#the-social-leader {
    background-image: url(../img/biografia/foto-biografia4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        filter: blur(8px);
        height: 41rem;
        width: 100%;
        
        background-image: url(../img/biografia/foto-biografia4.jpg);
        background-size: cover;
        background-position: center center;
        filter: blur(8px) brightness(.5);
    }

    .content {
        background-color: white;
        margin: 3rem 0 3rem 3rem;
        padding: 1rem 3rem;

        h2 {
            display: inline-block;
            margin-bottom: 2rem;
        }

        h3 {
            font-family: aaux_nextbold;
        }

        p {
            font-family: aaux_nextlight;
        }
    }

    @include media-breakpoint-down(sm) {
        background-size: contain;
        background-position: top -30vw center;

        .content {
            margin-top: 30vw;
        }
    }
}

#the-professor {

    .content {
        padding: 2rem;
    }

    .img-fluid {
        width: 100%;
        height: 100%;
    }
}

#the-senator {
    background-image: url(../img/biografia/foto-biografia8.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent !important;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        filter: blur(8px);
        height: 41rem;
        width: 100%;
        
        background-image: url(../img/biografia/foto-biografia8.jpg);
        background-size: cover;
        background-position: center center;
        filter: blur(8px) brightness(.5);
    }

    .content {
        background-color: rgba(0,0,0,.8);
        padding: 6rem 2rem;
    }

    @include media-breakpoint-down(md) {

        .content {
            padding: 2rem 2rem;
        }
    }

    @include media-breakpoint-down(sm) {
        background-size: contain;
        background-position: top center;
        
        .content {
            margin-top: 38vw;
        }
    }
}

#the-candidate {

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        filter: blur(8px);
        height: 50rem;
        width: 100%;
        
        background-image: url(../img/biografia/foto-biografia9.jpg);
        background-size: cover;
        background-position: center center;
        filter: blur(8px) brightness(.5);
    }

    .container:first-child {
        background-image: url(../img/biografia/foto-biografia9.jpg);
        background-size: cover;
        background-position: center 2rem;
        background-repeat: no-repeat;
        height: 30rem;
    }

    .content {
        padding: 2rem;
        background-color: rgba(0,0,0,.5) !important;

        h2 {
            border: none;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 20px;
            font-family: aaux_nextultra;
        }

        p {
            padding: 0 1rem;
        }
    }
    
    @include media-breakpoint-down(sm) {

        .container:first-child {
            margin: 0 1rem;
            height: 15rem;
            background-position-y: 1rem;
        }
    }
}